<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautiful Boxes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="ss">
        <h1>
            Beautiful Boxes to Learn <br>
            Flask and Python
        </h1>
    </div>

    <div class="boxes">
        {% for _ in range(length) %}
        <div class="box" style="background-color: {{ color }};"></div>
        {% endfor %}
    </div>
</body>
</html>
